@import '~core/ui';

.Document {
  min-height: 100%;
  margin-top: height('header', 'mobile');

  @include bp(md) {
    margin-top: height('header', 'desktop');
  }

  &.Document--pushNav {
    position: relative;
    right: 0;
    transition: right duration();

    .is-navActive & {
      right: width('nav', 'mobile');
    }
  }
}
