@import '~core/ui';

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
}

body {
  color: color('grey', '800');
  font-family: font('sans');
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.is-navActive {
    overflow-y: hidden;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

strong {
  font-weight: bold;
}
